<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>quinn.filter.Authentication</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/examData.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/endQuiz.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/doQuizFillword.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/doQuizChoice.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/ScoreSummary.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/profile.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/resultQuiz.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/Announcement.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>ChoiceServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>DeleteQuizServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>EnterQuizServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>FillwordServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>ProfileServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>ExamDataServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>SearchingServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>DoQuizServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>EditQuizServet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>LogoutServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>AddQuizServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>AnnouncementServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>quinn.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherLoginServlet</servlet-name>
        <servlet-class>quinn.servlet.TeacherLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnouncementServlet</servlet-name>
        <servlet-class>quinn.servlet.AnnouncementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>quinn.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuizServlet</servlet-name>
        <servlet-class>quinn.servlet.AddQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuizServet</servlet-name>
        <servlet-class>quinn.servlet.EditQuizServet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoQuizServlet</servlet-name>
        <servlet-class>quinn.servlet.DoQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamDataServlet</servlet-name>
        <servlet-class>quinn.servlet.ExamDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>quinn.servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillwordServlet</servlet-name>
        <servlet-class>quinn.servlet.FillwordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterQuizServlet</servlet-name>
        <servlet-class>quinn.servlet.EnterQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuizServlet</servlet-name>
        <servlet-class>quinn.servlet.DeleteQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoiceServlet</servlet-name>
        <servlet-class>quinn.servlet.ChoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemsFillServlet</servlet-name>
        <servlet-class>quinn.servlet.AddItemsFillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemsChServlet</servlet-name>
        <servlet-class>quinn.servlet.AddItemsChServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SummaryServlet</servlet-name>
        <servlet-class>quinn.servlet.SummaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchingServlet</servlet-name>
        <servlet-class>quinn.servlet.SearchingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>quinn.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherLoginServlet</servlet-name>
        <url-pattern>/TeacherLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnouncementServlet</servlet-name>
        <url-pattern>/Announcement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuizServlet</servlet-name>
        <url-pattern>/AddQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuizServet</servlet-name>
        <url-pattern>/EditQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoQuizServlet</servlet-name>
        <url-pattern>/DoQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamDataServlet</servlet-name>
        <url-pattern>/ExamData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillwordServlet</servlet-name>
        <url-pattern>/Fillword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterQuizServlet</servlet-name>
        <url-pattern>/EnterQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuizServlet</servlet-name>
        <url-pattern>/DeleteQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemsFillServlet</servlet-name>
        <url-pattern>/AddItemsFill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoiceServlet</servlet-name>
        <url-pattern>/Choice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SummaryServlet</servlet-name>
        <url-pattern>/Summary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemsChServlet</servlet-name>
        <url-pattern>/AddItemsCh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchingServlet</servlet-name>
        <url-pattern>/Searching</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>selectRole.jsp</welcome-file>
    </welcome-file-list>
</web-app>
