<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>quinn.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherLoginServlet</servlet-name>
        <servlet-class>quinn.servlet.TeacherLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnouncementServlet</servlet-name>
        <servlet-class>quinn.servlet.AnnouncementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>quinn.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuizServlet</servlet-name>
        <servlet-class>quinn.servlet.AddQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuizServet</servlet-name>
        <servlet-class>quinn.servlet.EditQuizServet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoQuizServlet</servlet-name>
        <servlet-class>quinn.servlet.DoQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchingServlet</servlet-name>
        <servlet-class>quinn.servlet.SearchingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamDataServlet</servlet-name>
        <servlet-class>quinn.servlet.ExamDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherLoginServlet</servlet-name>
        <url-pattern>/TeacherLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnouncementServlet</servlet-name>
        <url-pattern>/Announcement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuizServlet</servlet-name>
        <url-pattern>/AddQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuizServet</servlet-name>
        <url-pattern>/EditQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoQuizServlet</servlet-name>
        <url-pattern>/DoQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchingServlet</servlet-name>
        <url-pattern>/Searching</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamDataServlet</servlet-name>
        <url-pattern>/ExamData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
