.profile{
    text-align: center;
    font-family: Advent Pro;
    color: #997B5E
}
.history{
    font-family: Advent Pro;
    color: #997B5E;
    margin-left: 30px;     
}
.tab{
    width: 85%;
    height: 50%;
    font-size: 20px;
}


